body{
    background-color: black;
}
#ic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:black ;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ic i{
    color: white;
    font-size: 0.8rem;
}
.navbar-nav{
    margin-left: 60%;
}